body{
	overflow:hidden;
}
.menu{
	height:25%;
	width: 100%;
	background: #8A0808;
	position: relative;
	margin: 0px;
	padding: 0px;
}

.inner{
	float: left;
	margin:5px;
	height:95%;
}

.btn-lg{
	float: left;
	margin: 5px;
}
<<<<<<< HEAD
=======


>>>>>>> develop
#feature-type{
	width:12%;
}

#geo-type{
	width:260px;
}

#form-group{
	float:left;
}
#details{
	width:30%;
}

input[type=checkbox] + label {
  color:#f00 ;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #ffffff;
  font-style: normal;
}


div.editPanelUrban{
	bottom: 100px;
	left:50px;
	position:absolute;
}
	.editPanelUrban div{
		width: 22px;
		height: 22px;
		border: thin solid black;
		background: red;
		margin-top: 10px;
	}





#details{
	float: left;
}

#guest-footer{
	height: 10%;
	width: 100%;
	position: relative;
	background: #8A0808;
	margin: 0px;
	padding: 0px;
}

#login{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
